---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout currentPath="">
	<main class="h-screen w-full flex flex-row justify-center items-center text-center">
    <h1 class="font-light text-5xl lg:text-8xl">404: page not found</h1>
	</main>
</MainLayout>