---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<main class="w-full flex flex-col items-center font-light text-center text-sm border border-white/[.15] rounded-[32px] mt-24">
		<p class="font-extralight text-md pt-8">
			( <span class="font-pixel">HOME</span> )
		</p>
		<div class="flex flex-col text-6xl lg:text-8xl mt-16">
			<h1>Nikita</h1>
			<h2>Shtimenko</h2>
		</div>
		<div class="w-4/5 lg:w-3/5 flex flex-col opacity-[.35] pb-8 mt-64 lg:mt-64">
			<q>
				You can’t connect the dots looking forward; you can only connect them looking backwards. So you have to trust that the dots will somehow connect in your future.
			</q>
			<p>&copy Steve Jobs</p>
		</div>
	</main>
</MainLayout>