---
const pathName = Astro.url.pathname;
---

<!-- <nav class="w-full fixed top-0 bg-transparent pt-6 px-6 lg:px-8">
  <div class="flex flex-row justify-between">
    <div class="flex flex-col font-light">
      <p class="text-sm">Nikita Shtimenko</p>
      <p class="text-xs opacity-50">Israel/Ukraine</p>
    </div>
    <div class="flex flex-row gap-x-1 font-light justify-center items-center text-md hover:[&>a]:opacity-70 hover:[&>a]:transition-opacity hover:[&>a]:duration-300">
      <a href="/">Home,</a>
      <a href="/about" class="opacity-[.35]">About,</a>
      <a href="/contact" class="opacity-[.35]">Contact,</a>
      <a href="/blog" class="opacity-[.35]">Blog</a>
    </div>
  </div>
</nav> -->

<nav class="w-full fixed top-0 bg-transparent pt-6 px-6 lg:px-8">
  <div class="flex flex-row justify-between">
    <div class="flex flex-col font-light">
      <p class="text-sm">Nikita Shtimenko</p>
      <p class="text-xs opacity-50">Israel/Ukraine</p>
    </div>
    <div class="flex flex-row gap-x-1 font-light justify-center items-center text-md">
      <a href="/" class:list={[{
          'opacity-[.35] hover:opacity-70 hover:transition-opacity hover:duration-300': pathName != '/',
          'opacity-100': pathName === '/',
        }]}
      >
        Home,
      </a>
      <a href="/about" class:list={[{
          'opacity-[.35] hover:opacity-70 hover:transition-opacity hover:duration-300': pathName != '/about',
          'opacity-100': pathName === '/about',
        }]}
      >
        About,
      </a>
      <a href="/contact" class:list={[{
          'opacity-[.35] hover:opacity-70 hover:transition-opacity hover:duration-300': pathName != '/contact',
          'opacity-100': pathName === '/contact',
        }]}
      >
        Contact,
      </a>
      <a href="/blog" class:list={[{
          'opacity-[.35] hover:opacity-70 hover:transition-opacity hover:duration-300': pathName != '/blog',
          'opacity-100': pathName === '/blog',
        }]}
      >
        Blog
      </a>
    </div>
  </div>
</nav>