---
import '@fontsource-variable/inter';
import '@fontsource-variable/pixelify-sans'

import MaxWidthWrapper from "../components/MaxWidthWrapper.astro";
import Navbar from '../components/Navbar';

const pathName = Astro.url.pathname;
console.log(pathName)
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nikitas.dev</title>
  </head>
  <body class="flex flex-col bg-black text-white select-none">
    <header>
      <Navbar client:load path={pathName}/>
    </header>
    <MaxWidthWrapper>
      <slot />
    </MaxWidthWrapper>
  </body>
</html>